body{
    font-family: "Marker Felt", "papyrus", fantasy;
    color: #FFFFFF;
}
html { 
		background: url('images/Bg2.png') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
 
}
img {
	border: 4px solid gray;
	height: 300px;
    width: 20%;
	text-align: center;
	
}
Div {
	
	text-align: center;
	font-size: 1.30em;
	opacity: 10000000;
	
}

h1 {
    font-size: 6.00em;
    text-align: center;
}
h12 {
    font-size: .95em;
    text-align: center;
	<style>
 body { background-color:blue; }
 highlightme:#ff9999;
}
h10 {
    font-size: 3.45em;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
